    <div id='testMenu' data-dojo-attach-point="pathmenu" class="fm_wrap" >
        <a id="clickbutton" data-dojo-attach-point="myclickbutton" data-dojo-attach-event="onclick:_ToggleMenu" class="fm_btntoggle"  href="#" title="Toggle"><i>+</i></a>
        <ul class="fm_list">
            <li><a href="#"><i class="icon-user icon-white"></i></a></li>
            <li><a href="#"><i class="icon-heart icon-white"></i></a></li>
            <li><a href="#"><i class="icon-music icon-white"></i></a></li>
            <li><a href="#"><i class="icon-home icon-white"></i></a></li>
            <li><a href="#"><i class="icon-flag icon-white"></i></a></li>
        </ul>
    </div>